<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Profile picture:</strong>
  <%= @user.profile_picture %>
</p>

<p>
  <strong>Id flights:</strong>
  <%= @user.id_flights %>
</p>

<p>
  <strong>Record kilometers:</strong>
  <%= @user.record_kilometers %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
