<%= form_for(flight) do |f| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_flight %>
    <%= f.text_field :id_flight %>
  </div>

  <div class="field">
    <%= f.label :from %>
    <%= f.text_field :from %>
  </div>

  <div class="field">
    <%= f.label :to %>
    <%= f.text_field :to %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :duration_hours %>
    <%= f.number_field :duration_hours %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :airplane_model %>
    <%= f.text_field :airplane_model %>
  </div>

  <div class="field">
    <%= f.label :time_departure %>
    <%= f.text_field :time_departure %>
  </div>

  <div class="field">
    <%= f.label :time_arrival %>
    <%= f.text_field :time_arrival %>
  </div>

  <div class="field">
    <%= f.label :flight_distance %>
    <%= f.text_field :flight_distance %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
